.App {
  border-radius: 2px;
  padding: 10px 10px;
  margin: 30px auto;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  max-width: 630px;
}
.container{ max-width: 630px;}
.weather-summary {
  padding: 30px 10px;
  font-size: 16px;
  line-height: 20px;
}
.weather-summary-text {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-temp {
  color: #333;
  float: left;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  padding-left: 10px;
}
.weather-temp-units {
  color: #333;
  float: left;
  font-size: 16px;
  line-height: 1;
}
body {
  line-height: 32px;
}

li {
  list-style-type: none;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
}
form {
  text-align: center;
}
