.weather-summary {
  padding: 30px 10px;
  font-size: 24px;
  line-height: 20px;
}
.weather-summary-text {
  color: #333;
  font-size: 24px;
  font-weight: 100;
  line-height: 20px;
  line-height: 32px;
}

.weather-temp {
  color: #333;
  float: left;
  font-size: 64px;
  font-weight: bolder;
 
  
}
.weather-temp-unit {
  color: #333;
  float: right;
  font-size: 24px;
  line-height: 1;
}

.description {
  text-transform: capitalize;
}

.city {
  font-size: 42px;
  font-weight: bolder;
}

form {
  padding: 15px 15px;
  font-size: 24px;
}
canvas {
  line-height: 1;
}
