.weatherforecast {
  text-align: center;
}
.forecast-day {
  color: #bababa;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
}

.forecast-temperature {
  color: #878787;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}
.forecast-icon {
  margin: 10px 0 0;
  text-align: center;
}
